<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>New Chat</h1>
    <div class="chat">
        <div class="newchat">
            <form method="post" action="/chat">
                <input class="sender-input" placeholder="sender name" name="from">
                <textarea class="texthere" name="msg">Write somthing here...</textarea>
                <input class="reciever" placeholder="Reciever name" name="to">
                <button class="create-btn">Create Chat</button>
            </form>
        </div>
    </div>


</body>

</html>